.list-inline-item{
  font-size: 1.5em;
}
#bg {
display:inline;
margin-right: auto;
width: 100%;
}


#product-container{

width:100%;
}

.col-md-4{





.product-div{

}

#exampleModal{
  width: 600px;
}
